@import url('https://fonts.googleapis.com/css?family=Oswald');

.container {
  background-color: #f6f9fc;
  width: 100vw;
  padding: 5vh 20px 8vh 20px;
}

.question, .answer {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 3vh 0;
}
.question { font-size: 34px; }
.answer { font-size: 26px; }

.services { margin-top: 35px; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  div {
    border-bottom: 10px solid transparent;
  }
}

.glyphicon {
  $diameter: 4vw;
  width: $diameter;
  height: $diameter;
  text-align: center;
  line-height: $diameter;
  background-color: #333;
  color: white;
  border-radius: 50%;
}

.make_appointment {
  display: block;
  margin: 30px auto 0 auto;
}