.container {
  min-width: 100vw;
  background-color: #101010;
  padding: 10px 10px;
  color: white;

  .right {
    float: right;
    text-align: right;
  }
}

.tel {
  color: white;
  
  &:hover {
    color: #337ab7;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .right {
      float: none;
      min-width: 100%;
      padding-top: 10px;
      text-align: left;
    }
  }
}